<div class="chart-wrapper">
  <ngx-charts-bar-horizontal-stacked
    *ngIf="value"
    [scheme]="schemeChart"
    [results]="value.datas"
    [xAxis]="true"
    [yAxis]="true"
    [barPadding]="2"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="Số lượng"
    yAxisLabel="Đơn vị hành chính"
  >
    <ng-template #tooltipTemplate let-model="model">
      <div>{{ model.title }}</div>
      {{ model.value | number }}
    </ng-template>
  </ngx-charts-bar-horizontal-stacked>
</div>
