<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.chieuDaiTuyenDay"></h4>
  <p class="title">Tổng chiều dài (km)</p>
</div>
<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.soLuongCotDien"></h4>
  <p class="title">Số lượng cột điện</p>
</div>
<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.soLuongDenGiaoThong"></h4>
  <p class="title">Số lượng đèn giao thông</p>
</div>
<div class="wrapper">
  <h4 class="count" ngx-charts-count-up [countTo]="value.soLuongTramBienAp"></h4>
  <p class="title">Số lượng trạm biến áp</p>
</div>
