:host {
  display: flex !important;
  flex-direction: column;
}

.so-luong {
  nb-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.top {
  display: flex;
  &-left {
    display: flex;
    flex-direction: column;
    width: 300px;
    .legend {
      height: 220px;
    }
  }
  .so-luong {
    flex: 1;
    nb-card-header {
        display: flex;
        justify-content: center;
        nb-select {
          width: 150px;
        }
    }
  }
  .map {
    flex: 1;
    min-width: 50vh;
    min-height: 50vh;
  }
}
.dieu-chinh {
  max-height: 500px;
}

nb-card-body {
  padding: 10px 12px !important;
}


