<div class="wrapper wr-hr">
  <h4 class="count" ngx-charts-count-up [countTo]="value.miengXa || 0"></h4>
  <p class="title">Số lượng miệng xả</p>
</div>
<div class="wrapper wr-hr">
  <h4 class="count" ngx-charts-count-up [countTo]="value.tramXLNT || 0"></h4>
  <p class="title">Số lượng trạm XLNT</p>
</div>
<div class="wrapper wr-hr">
  <h4 class="count" ngx-charts-count-up [countTo]="value.csuatTramXLNT || 0"></h4>
  <p class="title">Công suất trạm XLNT (m3/ngày đêm)</p>
</div>

<div class="wrapper">
  <h4 class="count" ngx-charts-count-up [countTo]="value.chieuDaiCTN || 0"></h4>
  <p class="title">Chiều dài cống thoát nước (km)</p>
</div>
