<div class="wrapper wr-hr">
  <h4 class="count mt-0" ngx-charts-count-up [countTo]="value.dienTichCongVien"></h4>
  <p class="title">Diện tích công viên (ha)</p>
</div>
<div class="wrapper wr-hr">
  <h4 class="count" ngx-charts-count-up [countTo]="value.khuXuLyRacThai"></h4>
  <p class="title">Số lượng khu xử lý rác thải</p>
</div>
<div class="wrapper ">
  <h4
    class="count"
    ngx-charts-count-up
    [countTo]="value.tramTrungChuyenCTR"
  ></h4>
  <p class="title mb-0">Số lượng trạm trung chuyển CTR</p>
</div>
