<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.chieuDaiTuyenOng"></h4>
  <p class="title">Chiều dài tuyến ống (m)</p>
</div>
<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.soLuongNhaMayNuoc"></h4>
  <p class="title">Số lượng nhà máy nước</p>
</div>
<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.congSuatNhaMayNuoc"></h4>
  <p class="title">Công suất nhà máy nước (m3/ngày đêm)</p>
</div>

<div class="wrapper">
  <h4 class="count" ngx-charts-count-up [countTo]="value.soLuongKhachHang||0"></h4>
  <p class="title">Số lượng khách hàng</p>
</div>
