<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.buuCuc"></h4>
  <p class="title">Số lượng bưu cục</p>
</div>
<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.hoGaCap"></h4>
  <p class="title">Số lượng hố ga cáp</p>
</div>
<div class="wrapper wr-hr ">
  <h4 class="count" ngx-charts-count-up [countTo]="value.tramVienThong"></h4>
  <p class="title">Số lượng trạm viễn thông</p>
</div>
<div class="wrapper">
  <h4 class="count" ngx-charts-count-up [countTo]="value.chieuDaiTuyenCapTruyenDan"></h4>
  <p class="title">Chiều dài tuyến dây cáp truyền dẫn(km)</p>
</div>
