.count {
  font-size: 7vh;
  word-wrap: break-word;
  font-weight: bold;
  color: #1b9cfc;
  margin: 22px 0 12px;
}

.title {
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0 22px;
  letter-spacing: 1px;
}

.wrapper {
  text-align: center;
  height: auto;
}

.wr-hr{
  border-bottom: 1px solid #151A30;
}