<div class="row">
  <div class="col-lg-5 col-md-6 col-xs-12">
    <dashboard-ha-tang-ky-thuat [height]="400"></dashboard-ha-tang-ky-thuat>
  </div>
  <div class="col-lg-3 col-md-6 col-xs-12">
    <nb-card>
      <nb-card-header>Thống kê sự cố</nb-card-header>
      <nb-card-body>
        <dashboard-su-co [height]="400"></dashboard-su-co>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4 col-md-6 col-xs-12">
    <nb-card>
      <nb-card-header>Thông tin nhà ở, BĐS</nb-card-header>
      <nb-card-body>
        <dashboard-nhao-bds [height]="400"></dashboard-nhao-bds>
      </nb-card-body>
    </nb-card>
  </div>
 
  <div class="col-lg-5 col-md-6 col-xs-12">
    <nb-card>
      <nb-card-header>Sử dụng đất</nb-card-header>
      <nb-card-body>
        <dashboard-su-dung-dat [height]="400"></dashboard-su-dung-dat>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-7 col-md-6 col-xs-12">
    <nb-card>
      <nb-card-header>Bản đồ</nb-card-header>
      <nb-card-body>
      </nb-card-body>
    </nb-card>
  </div>
</div>