.count {
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 10px;
  color: #1B9CFC;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin: 8px auto 0;
  letter-spacing: 1px;
}

.wrapper {
  padding: 0px ;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.wr1{
  border-right: 0.75px solid #151A30;
}
.wr2{
  border-left: 0.75px solid #151A30;
}
