<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 p-0 mb-4">
      <nb-card class="mr-0 thongKe">
        <nb-card-body>
          <ga-so-luong></ga-so-luong>
        </nb-card-body>
      </nb-card>
      <nb-card class="mr-0 banDo">
        <nb-card-body>
          <ga-map></ga-map>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-sm-8 p-0">
      <nb-card class="bieuDoTron">
        <nb-card-body>
          <nb-tabset>
            <nb-tab tabTitle="Loại dự án">
              <ga-loai-du-an class="gaDuAn"></ga-loai-du-an>
            </nb-tab>
            <nb-tab tabTitle="Loại dự án bất động sản">
              <ga-loai-du-an-bds></ga-loai-du-an-bds>
            </nb-tab>
            <nb-tab tabTitle="Mục đích sử dụng đất theo đồ án">
              <ga-bieu-do-mdsdd-tda></ga-bieu-do-mdsdd-tda>
            </nb-tab>
            <nb-tab tabTitle="Tiến độ dự án bất động sản">
              <ga-bieu-do-tien-do-bds></ga-bieu-do-tien-do-bds>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-body>
          <nb-tabset>
            <nb-tab tabTitle="Loại dự án theo đơn vị hành chính">
              <ga-btn-zoom
                [input]="zoom_1"
                (output)="zoom_1 = $event"
                [ngClass]="{'zoom_btn_pos': !zoom_1}"
              ></ga-btn-zoom>

              <ga-bieu-do-dvhc
                class="bieuDoFullScreen"
                [ngClass]="{ 'bieuDo_block': zoom_1 }"
              ></ga-bieu-do-dvhc>
              <ga-bieu-do-dvhc></ga-bieu-do-dvhc>
            </nb-tab>

            <nb-tab tabTitle="Loại dự án bất động sản theo đơn vị hành chính">
              <ga-btn-zoom
                [input]="zoom_2"
                (output)="zoom_2 = $event"
                [ngClass]="{'zoom_btn_pos': !zoom_2}"
              ></ga-btn-zoom>
              <ga-bieu-do-loai-bds-dvhc
                class="bieuDoFullScreen py-3"
                [ngClass]="{ 'bieuDo_block': zoom_2 }"
              ></ga-bieu-do-loai-bds-dvhc>          
              <ga-bieu-do-loai-bds-dvhc></ga-bieu-do-loai-bds-dvhc>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
