.container-fluid {
  height: auto !important;
  .thongKe {
    height: 105px;
    width: auto;
    nb-card-body {
      display: flex !important;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
  }

  .banDo {
    width: auto;
    height: calc(100% - 105px);
  }

  nb-card-body {
    padding: 10px 12px !important;
  }

}
